.ipynb_checkpoints
_pycache_
data
logs
__pycache__/models.cpython-38.pyc
saved_models
__pycache__/dataset.cpython-38.pyc
__pycache__/func.cpython-38.pyc
__pycache__/utils.cpython-38.pyc
experiments_results/
Old_Experiments/
*.ipynb
